<div class="modal-content">
    <div class="modal-body">
        <!--<img class="resize image" ng-src="/api/hist/image/{[ url ]}">-->

    </div>
    <div class="modal-footer">
        <!--<div class="col-lg-10 well" style="text-align: center">{[caption]}</div>-->

        <input type="password" ng-model="password">
        <button type="button" ng-click="delete()" class="btn btn-clean">
            Delete User
        </button>
        <div class="col-lg-2">
            <button type="button" ng-click="cancel()" class="btn btn-clean" data-dismiss="modal">
                Close
            </button>
        </div>
    </div>
</div>
